<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin Dashboard</title>
  <!-- Bootstrap core CSS -->
  {%load static%}
  <link href="{% static 'login_app/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href="{% static 'login_app/css/blog.css'%}" rel="stylesheet">
  <link href="dashboard.css" rel="stylesheet">
</head>

  

  <body>
    {%if "logined" in request.session%}
   
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Welcome:&nbsp{{request.session.username}}</a>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/admin/logout">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Courses manage<span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/manage_admins">
                  <!-- <span data-feather="file"></span> -->
                  <span data-feather="users"></span>
                  Admins manage
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/change_password">
                  <span data-feather="shopping-cart"></span>
                  Change password
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                 other
                </a>
              </li>
              
            </ul>

            
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          {%if request.session.source == "login"%}
             Courses list
          {%elif request.session.source == "manage_admins"%}
            <h2>Manage Admins</h2>
        
          </div>
          {%if  request.session.username != 'Super_Admin'%}
            <h2> Only supper admin could manage other admins!!</h2>
          {%else%}
          <div class="row">
            <div class= "col-3">
            <table class="table  table-bordered table-bordered table-striped">
              <tr class="col-1">
                <th>
                  <p>Username</p>
                </th>
                <th>
                  <p>Action</p>
                </th>
              </tr>
              {% for admin in admin_list %}
                <tr>
                  <td>
                    <p>{{ admin.username }}</p>
                  </td>
                  <td>
                    <p> <a href="/admin/delete/{{ admin.id }}"> Delete</a>|<a href="/admin/reset_password/{{ admin.id }}"> Reset Password</a> </p>
                  </td>
                </tr>
             
                {% endfor %}
                </table>
                </div>
                </div>
              <div class="row">
                <form class="needs-validation" action="/admin/add_admin" method="POST" novalidate>
                  {% csrf_token %}
                  <button class="btn btn-primary btn-lg mb-3" type="submit">Add an Admin</button>
                </form>
              </div>
            {%endif%}
          {% elif request.session.source == "add_admin"%}
              <h2>Add an admin</h2></div>
              <div class="col-md-5 ml-4">
                <!-- <h4 class="mb-3">Login</h4> -->
                <form class="needs-validation" action="/admin/process/add_admin" method="POST" novalidate>
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="username">Username </label>
                    <input type="text" class="form-control" name="username" id="username" 
                      placeholder="username" >
                    <div class="text-danger">
                      {% if messages %}
                      <ul> {% for message in messages %}
                        {% if 'username' in message.extra_tags %}
                        <li>
                          <p class="text-danger small">{{message}}</p>
                        </li>
                        {% endif %}
                        {% endfor %}</ul>
                      {% endif %}
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="password">Password </label>
                    <input type="password" class="form-control" name="password" id="password"
                      placeholder="please input a password">
                    <div class="text-danger">
                      {% if messages %}
                      <ul> {% for message in messages %}
                        {% if 'password' in message.extra_tags %}
                        <li>
                          <p class="text-danger small">{{message}}</p>
                        </li>
                        {% endif %}
                        {% endfor %}</ul>
                      {% endif %}
                    </div>
                  </div>
                  
                  <div class="mb-3">
                    <label for="confirm_password">Confirm password </label>
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password"
                      placeholder="please re-enter the password">
                    <div class="text-danger">
                      {% if messages %}
                      <ul> {% for message in messages %}
                        {% if 'confirm_password' in message.extra_tags %}
                        <li>
                          <p class="text-danger small">{{message}}</p>
                        </li>
                        {% endif %}
                        {% endfor %}</ul>
                      {% endif %}
                    </div>
                  </div>
              
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
                </form>
                <!-- </div> -->
              </div>
          {%elif request.session.source == "change_password_success"%}
              <h2>Changed password successfully!</h2>
          {%elif request.session.source == "change_password"%}
            <!-- change_password -->
            <!-- <div class= "row"> -->
              <div class="col-md-5 ml-4">
                <!-- <h4 class="mb-3">Login</h4> -->
                <form class="needs-validation" action="/admin/process/change_password" method="POST" novalidate>
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="username">Username </label>
                    <input type="text" class="form-control" name="username" id="username"  value={{request.session.username}} placeholder={{request.session.username}} readonly="readonly">
                  </div>
                  <div class="mb-3">
                    <label for="current_password">Current password </label>
                    <input type="password" class="form-control" name="current_password" id="current_password" placeholder="please input current password">
                    <div class="text-danger">
                      {% if messages %}
                      <ul> {% for message in messages %}
                        {% if 'current_password' in message.extra_tags %}
                        <li>
                          <p class="text-danger small">{{message}}</p>
                        </li>
                        {% endif %}
                        {% endfor %}</ul>
                      {% endif %}
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="new_password">New password </label>
                    <input type="password" class="form-control" name="new_password" id="new_password"
                      placeholder="please input a new password">
                    <div class="text-danger">
                      {% if messages %}
                      <ul> {% for message in messages %}
                        {% if 'new_password' in message.extra_tags %}
                        <li>
                          <p class="text-danger small">{{message}}</p>
                        </li>
                        {% endif %}
                        {% endfor %}</ul>
                      {% endif %}
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="confirm_password">Confirm password </label>
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password"
                      placeholder="please re-enter new password">
                    <div class="text-danger">
                      {% if messages %}
                      <ul> {% for message in messages %}
                        {% if 'confirm_password' in message.extra_tags %}
                        <li>
                          <p class="text-danger small">{{message}}</p>
                        </li>
                        {% endif %}
                        {% endfor %}</ul>
                      {% endif %}
                    </div>
                  </div>

                  <button class="btn btn-primary btn-lg btn-block" type="submit">Change Password</button>
                </form>
              <!-- </div> -->
            </div>
            
          {%elif request.session.source == "other"%}
            other
          {%endif%}

         
          </div>
        </main>
      {%else%}
      <header class="blog-heade.first_namer py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <!-- My template!! -->
          <div class="col-1 pt-1">
            <p class="text-left"></p>
          </div>
          <div class="col-6 pt-1">
            <p class="blog-header-logo text-dark text-center">
              Warning </p>
            <!-- Success.Welcome.{{request.session.first_name}}&nbsp{{request.session.last_name}} </p> -->
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <!-- <a class="btn btn-sm btn-outline-secondary" href="/">Go back</a> -->
          </div>
        </div>
      </header>
      <h1 class="blog-header-logo text-warning">You are not logged in yet and cannot access this page.Please return to
        login
      </h1>
      <a class="btn btn-sm btn-outline-secondary" href="/">Go back</a>
      {%endif%}
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body>
</html>
